*{
    margin: 0%;
    padding: 0%;
}
.crtitm_whole{
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    color: white;
}
.crtitm_cover{

    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
.crtitm_title{
    text-align: center;
    font-weight: 700;
    font-size: larger;
}
.crtitm_content_whole{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    margin-bottom: 5vh;
}
.crtitm_content{
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 3vh 1vw;
    display: flex;
   
    justify-content: space-between;
}
.crtitm_txt,.crtitm_num{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.crtitm_cnttitle{
    font-weight: 700;
    font-size: larger;

}
.crtitm_num_tot{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    width: fit-content;
    font-size:medium;
    padding: 5px 5px;
}
.crtitm_num_addcrt{
    border: 1px solid blue;
    border-radius: 5px;
    padding: 5px 1vw;
    cursor: pointer;
    user-select: none;
}
.crtitm_num_addcrt:active{
    color: green;
    border: 1px solid white;
}